.title {
  margin-bottom: 0%;
}

/* Header Menu */
.header-menu {
  display: flex;
  margin-top: 0%;
  margin-bottom: 0.25%;
  justify-content: center;
}

.photosBtn {
  position: relative;
  right: 20%;
}

.videosBtn {
  position: relative;
  right: 5%;
}

.uncategorisedBtn {
  position: relative;
  left: 10%;
}

.favouritesBtn {
  position: relative;
  left: 25%;
}

.createCatBtn {
  position: relative;
  left: 40%;
}

/* Catalogue Area */
.categoryGrid {
  margin-left: 2%;
  margin-top: 2%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.items{
  position: relative;
}

.item {
  display: inline-block;
  overflow: hidden;
}

.cat_tn {
  height: 200px;
  width: 300px;
}

.defaultImgIcon {
  height: 200px;
  width: 300px;
}

#defaultIcon{
  color: #6190DC;
}
#defaultIcon path{
  stroke-width: 0.5 !important;
}

#deleteCat {
  position: absolute;
  stroke-width: 2px;
  stroke:red;
  z-index: 0;
  right: -29%;
  top: -5%;
  font-size: 25px;
}

/* Popups */
.createCat {
    position: absolute;
    left: 0%;
    z-index: 1;
}

/* Page Bar */
.pageBarContainerCat {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0.5%;
  width: 83%;
  left: 14.85%;
}

.pageBarCat {
  position: relative;
  display: flex;
  justify-content: center;
}

.pageNumberCat {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(96, 143, 221);
  color: white;
  font-size: 11px;
  border: none;
  margin: 10px;
}