.title {
  margin-bottom: 0%;
}

.header-menu {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0.25%;
}

.uncategorisedBtn {
  position: relative;
  left: 25%;
}

.create-button {
  position: relative;
  left: 45%;
}
.categoryGrid {
  margin-left: 2%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.items{
  position: relative;
}

.item {
  display: inline-block;
  overflow: hidden;
}

.cat_tn {
  height: 200px;
  width: 300px;
}

.defaultImgIcon {
  height: 200px;
  width: 300px;
}

#deleteCat {
  position: absolute;
  stroke-width: 2px;
  stroke:red;
  z-index: 0;
  right: -29%;
  top: -5%;
  font-size: 25px;
}

/* Popups */
.createCat {
    position: absolute;
    left: 0%;
    z-index: 1;
}