
.header{
    background: white;
    position: relative;
    overflow: hidden;
    margin-left:250px;
    
    
}

.header-right{
    float:right;
    padding:0 20px 0 20px;

}

.header-center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-button{
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    
}

.create-button{
cursor: pointer;
}



