.page{
  height: 100vh;
}

.main-content{
  margin-left: 250px;
  clear:both;
  height: 100%;
  
  
  
}

.header{
  background: white;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  margin-left: 250px;
  

}

.header-right{
  float:right;
  padding:0 20px 0 20px;
  

}

.header-center{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  
}

.create-button{
cursor: pointer;
}

h1{
  text-align: center;
  font-size: 32px;
}

.title {
  margin-bottom: 0%;
}

.header-menu {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0.25%;
}


.create-button {
  position: relative;
  left: 45%;
}
.collectionGrid {
  margin-left: 2%;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.items{
  position: relative;
}

.item {
  display: inline-block;
  overflow: hidden;
}

.collection-tn {
  height: 200px;
  width: 300px;
}

.defaultImgIcon {
  height: 200px;
  width: 300px;
}

#deleteCollection {
  position: absolute;
  stroke-width: 2px;
  stroke:red;
  z-index: 0;
  right: -29%;
  top: -5%;
  font-size: 25px;
}

/* Popups */
.createCollection {
    position: absolute;
    left: 0%;
    z-index: 1;
}


/* Image Gallery */
.gallery a {
  padding: 10px 10px 10px 10px;
  
}

div.gallery:hover{
  border: 1px solid #777
}
div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}  
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.items{
  width: 15%;
  float: left;
  text-align: center;
}
