.itemGrid {
  margin-left: 2%;
}

.collectionItems {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.items{
  position: relative;
}

.item {
  display: inline-block;
  overflow: hidden;
}

.item_tn {
  height: 200px;
  width: 300px;
}

#deleteCollectionItem {
  position: absolute;
  stroke-width: 2px;
  stroke:red;
  z-index: 0;
  right: -29%;
  top: -5%;
  font-size: 25px;
}

#video-thumbnail{
  height: 200px;
  width: 300px;
}