:root{
    height: 100%;

}
.main-content{
    margin-left: 250px;
    height: 100px;
    display: grid;
    grid-template-rows:50px 50% 0 40%;
}

.thumbnail img{
    height:100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;


}

.upload-forms{
    display: grid;
    top:0;
    overflow: auto;
    border:black;
    border-radius: 10px;
    border-style: solid;


}

.drop-area{
    bottom: 0;

    
    
}
.upload-button{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 100px;
    z-index: 999;
    
    

}

.upload-button #bsIcon{
    height: 100px;
    width: 100px;
}



h1{
    height: 50px;
}

#inp{
    text-align-last: center;
    margin: auto;
    text-decoration: none;
    height: 100%;
    position: absolute;
    top:0; 
    left:0;
    padding-top: 250px;

}


.dropbox{
    height: 100%;
    width: 100%;
    text-align: center;
    
    
}

.submitButton{
    background-color:rgb(96, 143, 221) ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 15px 15px; 
}