.addUserBg {
    position: fixed;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    left: 13%;
    z-index: 1;
}

.addUserContainer {
    position: absolute;
    left: 18%;
    top: 20%;
    z-index: 0;
    width: 1000px;
    height: 540px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: grid;
    position: absolute;
    border-radius: 10px;
    justify-content: center;
    border-style: solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

#add-user {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns:min-content;
}

.addUserCreateBtn {
    position: relative;
    border-radius: 1rem;
    border: none;
    background-color: rgb(96, 143, 221);
    margin-top: 3%;
    color: white;
    cursor: pointer;
    height: 40px;
    margin-right: 5%; 
    width: 25%;
}

.addUserCancelBtn {
    position: relative;
    border-radius: 1rem;
    border: none;
    bottom: 5%;
    height: 40px;
    margin-left: 5%; 
    width: 25%;
}

.rolesContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.col-2 {
   
}