.background {
    position: fixed;
    top: 0%;
}

/*Modal Gallery Section*/
.container {
    position: absolute;
    left: 10%;
    z-index: 0;
}

.imageName {
    position: relative;
    top: 0%; 
    max-width: inherit;
    font-weight: bold;
    margin-left: 950px;
    font-size: 16px;
}

.mediaContainer {
    position: absolute;
    outline-style: solid;
    width: 81%;
    left:1.5%;
    top:3%;
    height: 94%;
    box-sizing: border-box;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

amplify-s3-image {
    --height: 100%;
    --width: auto; 
}

.dataColumn {
    position: absolute;
    top: 7%;
    right: 1.5%;
    width: 200px;
    height: 94%;
}

.closeGalleryButton {
    position: absolute;
    top: -3%;
    right: -10%;
}

.detailLabel {
    position: absolute;
    top: 0%;
    max-width: inherit;
    box-sizing: border-box;
}

textarea {
    position: absolute;
    top: 3%;
    height: 65%;
    width: 100%;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    
}

.editButton {
    position: absolute;
    top: 0%;
    right: 24%;
}

.downloadButton {
    position: absolute;
    top: 0%;
    right: 12%;
}

.shareButton {
    position: absolute;
    top: 0%;
    right: 0%;
}

.confirmButton {
    position: absolute;
    top: 69%;
    left: 25%;
}

.cancelButton {
    position: absolute;
    top: 69%;
    right: 25%;
}

.tagsArea {
    position: relative;
    top: 73%;
    height: 27%;
    max-width: inherit;
    max-height: inherit;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
}

.tags {
    position: relative;
    display: inline-block;
    margin: 1px;
    border-radius: 25px;
    padding-right: 5px;
    border: solid;
}

/* Sidebar Menu */
.leftMenu
{  
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color:rgb(96, 143, 221);
    left: 0%;
}

.galleryLogo {
    position: relative;
    display: block;
    height: 220px;
    width: 220px;
    margin: auto; 
}

.menu-wrapper {
    position: relative;
    max-height: 100%;
    overflow: auto;
}

.categorySelection {
    display: block;
    position: relative;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}

.tagLabel {
    position: relative;
    font-weight: bold;
    font: Monospace;
    left: 10%;
}

.createCategoryBtn {
    position: relative;
    left: 25%;
}

.tagCategoryBtn {
    margin-top: 10px;
    position: relative;
    background-color: whitesmoke;
    padding: 5px 85px 5px 85px;
    font-weight: bold;
    border:none;
    border-radius: 15px 15px;

}

.collectionSelection {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}

.collectionLabel {
    position: relative;
    font-weight: bold;
    font: Monospace;
    left: 10%;  
}

.createCollectionBtn {
    position: relative;
    left: 20%;
}

.addCollectionBtn {
    margin-top: 10px;
    position: relative;
    background-color: whitesmoke;
    padding: 5px 85px 5px 85px;
    font-weight: bold;
    border:none;
    border-radius: 15px 15px;
}

/* Other layer of popups */
.createCat {
    position: absolute;
    left: 0%;
    z-index: 1;
}

.createCollection {
    position: absolute;
    left: 0%;
    z-index: 1;
}
