@font-face {
  font-family: 'Bebas Kai';
  src: url('http://fonts.cdnfonts.com/css/bebas-kai');
}


                

html,body{
  margin-left: 250px;
 
    height: 100%;
    margin: 0;
  
}

.App{
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
}

.App a {
  text-decoration: none;
  color: #414756;
  font-weight: 500;

}
.App h1 {
  text-decoration: none;
  color: #282c35;
  font-family: 'Bebas Kai', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
                                                

}


.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  width: 24vw;
}


.imgframe {
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px #00000070;

}


.mainimg {
  position: absolute;
  left: -50%;
}

.actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  background: white;
  display: flex;
  justify-content: space-between;
  font-family: 'montserrat';
}

.actions button {
  background: white;
  border: none;
  cursor: pointer;
  font-family: 'montserrat';
}

.pop {
  height: 90vh!important;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  z-index: 1000;
  background: white;
  transform: translate(-50%, -50%);
}

.show {
  display: block;
  position: absolute;
  right: 0;
  background: white;
  padding: 10px;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0 0 3px 0 #000000a1;
  font-family: montserrat;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.close {
  display: none;
}

.hide {
  display: none;
}

.mainimgpop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
  .column {
      width: 45vw;
  }
}